<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KolRoam Home</title>
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Handjet:wght@300&family=IBM+Plex+Mono:wght@500&family=Poppins:wght@100;200&family=Source+Code+Pro:ital,wght@1,200&family=Ysabeau+SC:wght@500&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
    href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
    rel="stylesheet"
  </head>
  <body>
    <div id="nav">
      <img src="/images/KolTour2.png" alt="Logo" />
      <button id="menu-toggle">&#9776;</button>
      <div id="nleft">
        <!-- <img src="KolTour-removebg-preview.png" alt=""> -->
        <a href="/places">PLACES</a>
        <a href="/login">POST</a>
      </div>
      <div id="nright">
        <!-- <button id="menu-toggle">&#9776; Menu</button> -->
        <a href="/gallery">GALLERY</a>
        <a href="/about">ABOUT</a>
      </div>
    </div>
    <div class="main">
      <div class="back">
        <img src="/images/herit4 (2).png" alt="" />
        <img src="/images/park4.png" alt="" />
        <img src="/images/relig4.png" alt="" />
        <img src="/images/bridge3 (1).png" alt="" />
        <img src="/images/durga4.png" alt="" />
      </div>

      <div class="top">
        <div id="working-area">
          <div id="hero">
            <div id="heroleft">
              <div class="elem">
                <h1>HISTORIC</h1>
                <h1>EXPERIENCE</h1>
                <h1>EMBRACE</h1>
                <h1>METALLIC GIANTS</h1>
                <h1>BOLO BOLO</h1>
              </div>

              <div class="elem">
                <h1>MARVELS</h1>
                <h1>WHIMSICAL</h1>
                <h1>HOLINESS &</h1>
                <h1>CONNECTING</h1>
                <h1>DUGGA</h1>
              </div>

              <div class="elem">
                <h1>AWAIT !</h1>
                <h1>THEME PARKS</h1>
                <h1>HARMONY</h1>
                <h1>WORLDS</h1>
                <h1>ELO !</h1>
              </div>

              <button class="btn">Explore Now</button>
            </div>
          </div>
        </div>

        <div id="chatbot-container">
          <div id="chatbot">
            <p id="chat-greeting">
              Hi, I am Pattrick! My master has asked me to serve you today. How
              can I assist you?
            </p>
            <div id="chat-options">
              <button id="explore-btn">Explore Kolkata</button>
              <button id="gallery-btn">View Gallery</button>
              <button id="about-dev-btn">About</button>
              <button id="post-btn">Post</button>
              <button id="exit-btn">Exit</button>
            </div>
            <input
              type="text"
              id="user-input"
              placeholder="Ask me anything about KolRoam..."
            />
            <button id="send-btn">Send</button>
            <p id="chat-messages"></p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <div class="row">
          <a href="https://www.facebook.com/aymaan.shabbir.1"
            ><i class="fa fa-facebook"></i
          ></a>
          <a href="https://instagram.com/aymaan_shabbir?igshid=NGVhN2U2NjQ0Yg=="
            ><i class="fa fa-instagram"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/aymaan-shabbir-012417270?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>

        <div class="row">
          <ul>
            <li><a href="mailto:aymaanshabbir27@gmail.com">Contact us</a></li>
          </ul>
        </div>

        <div class="row">
          KolRoam Copyright © 2023 KolRoam - All rights reserved || Designed By:
          Aymaan Shabbir. Credits for the images to the respective owners.
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/sheryjs/dist/Shery.js"
    ></script>
    <script src="js/home.js"></script>
  </body>
</html>
